
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="container1" >
        <div class="banner-info">
            <div class="search-form" style="">
                @using (Html.BeginForm("SearchByName", "Home"))
                {
                    <p>
                        @Html.TextBox("name")
                        <input type="submit" style="background-color:lightpink;" placeholder="Tìm kiếm..." value="Tìm sản phẩm"  />
                    </p>

                }
            </div>
        </div>
    </div>

</header>
<footer>
    <div class="row">
        <div>
            <div class="col-sm-4">
                <h4>Phương thức thanh toán &amp; giao hàng</h4>
                <div class="content">
                    <p><strong class="bold">Miễn phí vận chuyển cho đơn hàng trên 1.000.000VNĐ</strong></p>
                    <ul style="font-size:large;">
                        <li class="fa fa-check-circle">
                            <p @*href="#" title=""*@>
                                Giao hàng và thu tiền tận nơi
                            </p>
                        </li>
                        <li class="fa fa-check-circle">
                            <p @*href="#" title=""*@>Chuyển khoản và giao hàng</p>
                        </li>
                        <li class="fa fa-check-circle">
                            <p @*href="#" title=""*@>Mua hàng tại shop</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Hỗ trợ 24/7</h4>
                <div class="content">
                    <p><strong>Gọi ngay cho chúng tôi khi bạn có thắc mắc</strong></p>
                    <ul style="font-size:large;">
                        <li class="fa fa-check-circle">
                            <p>0987656786 </p>
                        </li>
                        <li class="fa fa-check-circle">
                            <p>0986545632 </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Thẻ thành viên</h4>
                <div class="content">
                    <p><strong class="bold">Chế độ ưu đãi thành viên VIP:</strong></p>
                    <ul style="font-size:large;">
                        <li class="fa fa-check-circle">5% cho thành viên Bạc</li>
                        <li class="fa fa-check-circle">10% cho thành viên Vàng</li>
                        <li class="fa fa-check-circle">15% cho thành viên Kim cương</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

